.profile__edit-button {
  margin-top: 15px;
  border: 1px solid #fff;

  background-color: #000;
  box-sizing: border-box;

  transition: opacity .2s ease;
}

.profile__edit-button:hover {
  cursor: pointer;

  opacity: .6;
}

.profile__edit-button:active {
  opacity: 1;

  transition: opacity ease;
}
