.popup__container {
  max-width: 430px;
  border-radius: 10px;
  padding: 34px 36px 37px;

  position: relative;

  background-color: #fff;
  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
