.profile {
  padding: 40px 16px 40px 0;

  display: flex;
  align-items: flex-start;

  color: #fff;
}


@media screen and (max-width: 645px) {
  .profile {
    padding: 42px 0 0;
    flex-direction: column;
    align-items: center;
  }
}
